* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: turquoise;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    text-decoration: underline;
    margin: 1rem;
}

button {
    display:i block;
    background-color: beige;
    padding: 0.2rem;
    margin: 1rem auto;
    color: black;
}

#quotes {
    height: 140px;
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    font-size: 1.5rem;
    line-height: 1.2;
}

.container {
    min-width: 400px;
    width: 35%;
    border: 0.5px solid grey;
    border-radius: 10px;
    margin: 4rem auto;
    background-color: azure;
}
